@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  min-height: 7vh;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.calendar {
  width: 100%;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 0.3rem;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.header_date {
  font-size: 1.5rem;
}

.header_button_group {
  display: flex;
  gap: 2rem;
}

.calendar_header {
  width: 100%;
  display: flex;
}

.day_of_week {
  width: 100%;
  min-height: 7vh;
  border: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}

.calendar_main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}

.calendar_day {
  width: calc(100% / 7);
  min-height: 14.3vh;
  text-align: center;
  padding: 10px;
  border: 1px solid #efefef;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.empty {
  background-color: #f8f8f8;
  border: none;
}

.calendar_date {
  display:flex;
  justify-content: center;
  align-items: center;
}

.calendar_date span {
  padding: .25rem;
}

.today .calendar_date span {
  background-color: #428bca;
  border: 1px solid #428bca;
  color:#fff;
  border-radius: 50%;
}

.calendar_container {
  display: flex;
  position: relative;
}

.task {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.task_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.close_task {
  align-self: flex-end;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.task_date {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.task_full_text {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}

.no_task_text {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  color: #999;
  text-align: center;
}

.task_input {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.task_submit {
  align-self: flex-end;
  background-color: #66cd7e;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.task_display {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  width: 100%;
  align-self: start;
  color: #999;
}

.view_more {
  margin-top: .5rem;
  font-size: .8rem;
  align-self: end;
  background-color: #f3f3f3;
  color: #999;
  padding: .25rem;
}